/* Social links component:
   - Default layout is row direction.
   - Use social-links-on-light-bg or social-links-on-dark-bg to adjust the icon color and the visible focus outline for keyboard navigation.
*/
.social-links {
width: fit-content;
}

.social-links-list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row; /* Default to row direction */
}

.social-links-icon {
  width: 30px;
  height: 30px;
  transition: fill 0.2s ease;
}

.social-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--clickable-area-padding); /* Increase clickable area for better UX */
  user-select: none;
  -webkit-tap-highlight-color: transparent; /* Remove mobile tap highlight */
}

/* Restrict hover to devices with hover capability and fine pointer */
@media (hover: hover) and (pointer: fine) {
  .social-links-link:hover .social-links-icon {
    fill: var(--color-tertiary);
  }
}

/* ======= Component variants ======= */

/* Color variants */
.social-links-on-light-bg .social-links-icon {
  fill: var(--color-neutral-900);
}

.social-links-on-dark-bg .social-links-icon {
  fill: var(--color-neutral-100);
}
/* Override base-styles for visual selection box for Tab navigation for this component depending on the background color*/
.social-links-on-dark-bg .social-links-link:focus-visible {
  outline-color: var(--color-neutral-100);
}

.social-links-on-light-bg .social-links-link:focus-visible {
  outline-color: var(--color-neutral-900);
}